/* *********GENERAL STYLES*********** */

body {
  background-color: white;
  font-family:  sans-serif;
  min-height: 1000px;
  text-align: center;
}

ul, li{
  list-style-type: none;
}

a {
  color: inherit;
}
a:hover {
  cursor: pointer;
}
.App {
  text-align: center;
}

h1 , h2, h3, h4, h5, h6 {
  font-family: 'Viga', sans-serif;
}
.section {
  min-height: 100vh !important;
}
.typingSpan,
.typed-cursor {
  font-family: 'Viga';
  font-size: calc(24px + (76 - 24) * ((100vw - 400px) / (1600 - 300)));
  font-weight: 600;
}
.typingSpan {
  width: calc(100% - 50%);
  min-height: 80px;
  background-color: #000000;
  color: white;
  padding: 0 1em;
}

.home-img {
  min-width: 50px;
  width: calc(100vw / 1.5);
}

.section {
  box-sizing: content-box;
}


/* *******FEATURE PAGE********** */
.feature h2, h1 {
  color: '#ffffff';
}

.home-img {
  max-width: 500px;
}

.typingSpan,
.typed-cursor {
  font-size: calc(14px + (26 - 14) * ((100vw - 400px) / (1600 - 300)));
}

.sm-cap-heading {
  font-variant: all-small-caps;
  font-weight: 700;
}
.fade-in-text {
  color: #ffffff;
  opacity: 0;
  display: inline-block;
  animation: fadeIn linear 7s;
animation-delay: 3s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}