/* *********GENERAL STYLES*********** */

body {
  background-color: white;
  font-family:  sans-serif;
  min-height: 1000px;
  text-align: center;
}

ul, li{
  list-style-type: none;
}

a {
  color: inherit;
}
a:hover {
  cursor: pointer;
}
.App {
  text-align: center;
}

h1 , h2, h3, h4, h5, h6 {
  font-family: 'Viga', sans-serif;
}

.typingSpan,
.typed-cursor {
  font-family: 'Viga';
  font-size: calc(24px + (76 - 24) * ((100vw - 400px) / (1600 - 300)));
  font-weight: 600;
}
.typingSpan {
  width: calc(100% - 50%);
  min-height: 80px;
  background-color: #000000;
  color: white;
  padding: 0 1em;
}

.home-img {
  min-width: 50px;
  width: calc(100vw / 1.5);
}

.section {
  box-sizing: content-box;
}

/* *********ABOUT STYLES******* */
.about {
  display: flex;
  padding: 0 25px 0 5px;
  flex-direction: column;
  flex-wrap: wrap;
  }

.about_section p {
  font-variant: all-small-caps;
}

figure {
  width: calc(100vw - 30%);
}
.about-img {
  width: calc(100vw - 30%);
}

.bHXeSm blockquote {
  margin: 0;
}

.about_section_text span{
  font-weight: 700;
  padding-bottom: 1em;
}
/* ********GALLERY STYLES******* */

.gallery-cntr {
  display: flex; 
  flex-direction: column;
}

.gallery-img {
  max-height: calc(100vh - 30%);
  max-width: 100vw;
  object-fit: cover;
}

.gallery-cntr h3 {
  font-family: sans-serif;
  font-variant: all-small-caps;
  font-size: 3em;
  color: #2e6195;
  z-index: 99;
  margin: auto;
}


ul.list-stack {
  -webkit-font-feature-settings: "smcp", "c2sc";
  font-feature-settings: "smcp", "c2sc";
  font-variant: all-small-caps;
  letter-spacing: .08em;
  margin-left: 5%;
  box-sizing: border-box;
  text-align: left;
}

.list-title {
  border-bottom: 1px solid #000000;
  font-size: 1.2rem;
}

.list-stack-item:nth-of-type(2) {
  padding-top: 1em;
}

.gallery-description {
  font-style: italic;
  font-size: .9em;
  text-align: left;
  z-index: 1;
  padding-left: 10%;
  -webkit-padding-start: 40px;
  padding-inline-start: 40px;
  margin-left: 5%;
  margin-bottom: 5%;
  max-width: 400px;
}

.gallery-content {
  z-index: 66;
}
.gallery-demo-btn {
  text-decoration: none;
  font-family: inherit;
  padding: .5em;
  z-index: 3;
}

.fp-controlArrow.fp-next
{
  border-color: transparent transparent transparent rgba(35, 36, 37, 0.5);
}
.fp-controlArrow.fp-prev {
  border-color: transparent rgba(35, 36, 37, 0.5) transparent transparent;
}

.fp-slides {
  overflow: overlay;
}
/* *********RESUME PAGE******* */
.contact-cv {
  margin-left: auto;
  padding-top: 2em;
  max-width: 50%;
  max-height: 800px;
  position: relative;
}

.contact-cv img {
  display: -webkit-flex;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  max-height: inherit;
}


/******** contact pg resume ****** */
canvas.react-pdf__Page__canvas, .react-pdf__Document {
  height: 80vh !important;
  width: auto !important;
  max-height: 990px;
}

canvas.react-pdf__Page__canvas:hover, .react-pdf__Document:hover {
  cursor: pointer;
}

.react-pdf__Document{
  position:  relative !important;
}

.react-pdf__Page__annotations.annotationLayer, .react-pdf__Page__textContent {
  display: none !important;
}

.react-pdf__Document:hover:after {
  content: "View Resume";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(120deg, #eaee44, #33d0ff);
  opacity: .7;
  font-family: sans-serif;
  font-variant: all-small-caps;
  font-size: 2em;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.contactCntr {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
}

li.socialIcons {
  display: inline-flex;
  padding: 0 .5em;
}

/* ********MEDIA QUERIES for lg screen ******** */

@media screen and (min-width: 780px){
  
.about_section {
  text-align: left;
  min-width: calc(100vw - 80%);
}

.bHXeSm {
  position: absolute !important;
  color: white !important;
  top: auto;
  bottom: auto;
  right: calc(100vw / 2.2);
  }

.about-img {
  float: right;
  padding-left: .5em;
}
.home-img {
  max-width: 500px;
}
.gallery-img {
  max-width: 1000px;
  width: calc(100vw - 35%);
}

.typingSpan,
.typed-cursor {
  font-size: calc(14px + (26 - 14) * ((100vw - 400px) / (1600 - 300)));
}

.gallery-cntr {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1rem;
  justify-items: center;
  grid-template-rows: 1fr;
}

.gallery-description {

  width: 100%;
  overflow: visible;
}

.gallery-cntr h3 {
  margin: 1em 0;
}

.fp-slides {
  overflow: overlay;
}


.gallery-demo-btn {
  color: white;
  background: #2e6195;
}


}

