body {
  background-color: white;
  font-family: 'Lato', sans-serif;
  min-height: 1000px;
  text-align: center;
}

.App {
  text-align: center;
}

h1 , h2, h3, h4, h5, h6 {
  /* font-family: 'Fredoka One', cursive; */
  /* font-family: 'Concert One', cursive; */
  font-family: 'Viga', sans-serif;
}

.typingSpan,
.typed-cursor {
  font-family: 'Viga';
  font-size: calc(24px + (76 - 24) * ((100vw - 400px) / (1600 - 300)));
  font-weight: 600;
}
.typingSpan {
  width: calc(100% - 50%);
  min-height: 80px;
  background-color: #000000;
  color: white;
  padding: 0 1em;
}

.home-img {
  min-width: 50px;
  width: calc(100vw / 1.5);
}
/* 
  .home-img {
    width: 85%;
  } */

.section {
  box-sizing: content-box;
}

/* *********ABOUT STYLES******* */
.about {
  display: flex;
  padding: 0 25px 0 5px;
  flex-direction: column;
  flex-wrap: wrap;
  }

.about_section p {
  font-variant: all-small-caps;
}

figure {
  width: calc(100vw - 30%);
}
.about-img {
  width: calc(100vw - 30%);
}

.about_memo {
  font-size: .8em;
}

/*------- fullpage styles------------- */
[data-anchor="slide1"] {
  background: lightcoral;
}
[data-anchor="slide2"] {
  background: lightseagreen; 
}


/* ********MEDIA QUERIES ******** */

@media screen and (min-width: 780px){
  
.about_section {
  text-align: left;
  min-width: calc(100vw - 80%);
}

.bHXeSm {
  position: absolute !important;
  color: white !important;
  top: auto;
  bottom: auto;
  right: calc(100vw / 2);
  }

.about-img {
  float: right;
  padding-left: .5em;
}
.home-img {
  max-width: 500px;
}
.typingSpan,
.typed-cursor {
  font-size: calc(14px + (26 - 14) * ((100vw - 400px) / (1600 - 300)));
}








}

